
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div id="wrapper" class="direction-ltr">
<main role="main" id="content" lang="en">

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="page-header">
        <h1 class="page-header__title">Set up a service community</h1>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/service-manual">Service manual - GOV.UK</a></li>
          <li><a href="/service-manual/design/service-communities">Service communities - Service manual - GOV.UK</a></li>
          <li><a href="/service-manual/design/set-up-service-community">Set up a service community – Service manual - GOV.UK</a></li>
        </ul>
      </div>
    </div>
  </div>

</main>
</div>

{% endblock %}
